<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"
th:href="@{/css/bootstrap.min.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js" th:attr="src=@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<h1>List page</h1>
	<table class="table">
		<thead>
			<tr>
				<th>deptno</th>
				<th>dname</th>
				<th>loc</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bean : ${list}">
				<td><a href="detail.html" th:href="@{/dept/detail/(idx=${bean.deptno})}" th:text="${bean.deptno}">1</a></td>
				<td><a href="detail.html" th:href="@{/dept/}+${bean.deptno}" th:text="${bean.dname}">2</a></td>
				<td><a href="detail.html" th:href="@{/dept/}+${bean.deptno}" th:text="${bean.loc}">3</a></td>
			</tr>
			<tr th:if ="${false}">
				<td>1</td>
				<td>2</td>
				<td>3</td>
			</tr>
		</tbody>
	</table>
	<a href="add.html" class="btn btn-primary btn-block" role="button" th:href="@{/dept/add}">입력</a>
</body>
</html>