<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.coocon.mapper.CardRawDataMapper">
	<resultMap type="CardRawData" id="originCardRawData">
		<id column="card_code" property="cardCode"/>
		<result column="anuual_fee" property="annualFee"/>
		<result column="card_brand" property="cardBrand"/>
		<result column="fin_product_info" property="finProductInfo"/>
	</resultMap>
</mapper>
