div{
  height: 300px;
  width: 300px;
  background-color: antiquewhite;
}
div>div{
  height:200px;
  width: 200px;
  background-color: aqua;
}
div>div>div{
  height:100px;
  width: 100px;
  background-color: forestgreen;
}